main.paper {
  header .title h1 {
    text-transform: none;
  }

  .section-experience p {
    line-height: 1.2;
  }

  .grid {
    grid-template-rows: repeat(12, 1fr);

    header {
      grid-area: 1 / 1 / 1 / 8;
      padding-bottom: 0.25rem;
    }

    .title {
      flex-grow: 1;
      h1 {
        font-size: 35px;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  padding: .2in .2in;
}

.job_title {
  font-style: italic;
}

a {
  text-decoration: dotted underline;
}

.contact {
  text-align: center;
  padding-bottom: 0.25rem;
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
}

@media print{
  html, body {
    @for $i from 1 through 6 {
      h#{$i} {
        bookmark-label: content();
        bookmark-level: $i;
      }
    }
  }
}

.section {
  margin-bottom: 0.5rem;
}

li {
  margin: 0.25rem 0;
}

.paper p {
  margin: 0.25rem 0;
}