<div class="titleHeader">
  {{ range .Site.Data.features.about }}
  <h1 class="name">{{ .name }}</h1>
  {{ if $.Site.Params.display.tagline }}
  <h3 class="tagline">{{ .tagline }}</h3>
  {{end}} {{ if $.Site.Params.display.contact }}<span class="contact"
    >{{ .phone }} | {{ .email }}</span
  >{{ end }}
  <span class="flex-row">
    {{ if $.Site.Params.display.linkedin }}
    <a href="{{.linkedin.url}}" target="_blank">
      <span>
        {{ if $.Site.Params.useFontAwesome }}<i class="fab fa-linkedin"></i>{{
        end }}<text> {{.linkedin.text}} </text>
      </span>
    </a>
    {{ end }} {{ if $.Site.Params.display.github }}
    <a href="{{.github.url}}" target="_blank">
      <span>
        {{ if $.Site.Params.useFontAwesome }}<i class="fab fa-github"></i>{{ end
        }}<text> {{.github.text}} </text>
      </span>
    </a>
    {{ end }} {{ if $.Site.Params.display.codepen}}
    <a href="{{.codepen.url}}" target="_blank">
      <span>
        {{ if $.Site.Params.useFontAwesome }}<i class="fab fa-codepen"></i>{{
        end }}<text> {{.codepen.text}} </text>
      </span>
    </a>
    {{ end }} {{ if $.Site.Params.display.facebook}}
    <a href="{{.facebook.url}}" target="_blank">
      <span>
        {{ if $.Site.Params.useFontAwesome }}<i class="fab fa-facebook"></i>{{
        end }}<text> {{.facebook.text}} </text>
      </span>
    </a>
    {{ end }}
  </span>
  {{ end }}
</div>
{{ if .Site.Params.display.avatar }}
<div><img class="avatar right" src="{{.Site.Params.avatar}}" /></div>
{{ end }}
