<div class="titleHeader">
  {{ range .Site.Data.features.about }}
  <h1 class="name">{{ .name }}</h1>
  {{ if $.Site.Params.display.tagline }}
  <h3 class="tagline">{{ .tagline }}</h3>
  {{end}} {{ if $.Site.Params.display.contact }}<span class="contact"
    >{{ .phone }} | {{ .email }}</span
  >{{ end }}
  <span>
    {{ if $.Site.Params.display.linkedin }}
    <a href="{{.linkedin }}" target="_blank">
      {{ if $.Site.Params.useFontAwesome }}<i class="fab fa-linkedin"></i>{{ end
      }}
    </a>
    {{ end }} {{ if $.Site.Params.display.github }}
    <a href="{{.github}}" target="_blank">
      {{ if $.Site.Params.useFontAwesome }}<i class="fab fa-github"></i>{{ end
      }}
    </a>
    {{ end }} {{ if $.Site.Params.display.codepen}}
    <a href="{{.codepen}}" target="_blank">
      {{ if $.Site.Params.useFontAwesome }}<i class="fab fa-codepen"></i>{{ end
      }}
    </a>
    {{ end }} {{ if $.Site.Params.display.facebook}}
    <a href="{{.facebook}}" target="_blank">
      {{ if $.Site.Params.useFontAwesome }}<i class="fab fa-facebook"></i>{{ end
      }}
    </a>
    {{ end }}
  </span>
  {{ end }}
</div>
{{ if .Site.Params.display.avatar }}
<div><img class="avatar right" src="{{.Site.Params.avatar}}" /></div>
{{ end }}
